.site-bar {
	visibility: hidden;
	height: 0px;
}
.mm-mega-menu {
	visibility: hidden;
	height: 0px;
}
.ct-sidebar--hidden {
	top: 6px;
}
.ct-sidebar--visible {
	top: 6px;
}
@media(min-width: 768px) {
	html body.body-rpgcharacter-sheet {
		background-position-y: 93px;
	}
}
@media(min-width: 1200px) {
	html body.body-rpgcharacter-sheet {
		background-position-y: 115px;
	}
}