.site-bar {
	visibility: hidden;
	height: 0px;
}
.mm-mega-menu {
	visibility: hidden;
	height: 0px;
}
.ct-sidebar {
	top : 6px !important
}
@media(min-width: 768px) {
	html body.body-rpgcharacter-sheet {
		background-position-y: 93px !important;
	}
}
@media(min-width: 1200px) {
	html body.body-rpgcharacter-sheet {
		background-position-y: 115px !important;
	}
}